name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Lint & Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Fetch Cockpit lib
        run: make pkg/lib

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Check Formatting
        run: npm run format:check

      - name: Type Check
        run: npm run typecheck

      - name: Lint (ESLint)
        run: npm run eslint

      - name: Lint (Stylelint)
        run: npm run stylelint

      - name: Build
        run: npm run build
